*{
    font-family: arial;
    
}
h3{
    color: rgb(255, 255, 255);
    font-weight: bold;

}
h1{
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 50px;
    font-weight: bold;

}
body{
    background-image: url("../Multimedia/farmacia.jpeg");
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
}
.xd{
    width: 45%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(17, 4, 32, 0.9);
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-weight: bold;
}
input{
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    background-color:  rgba(188, 182, 218, 0.4);
    font-weight: bold;
}
.but{
    width: 20%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(164, 25, 0, 0.9);
    font-weight: bold;
    color: rgb(255, 255, 255);
}