
nav{
    height: auto;
    font-size: 40px;
    font-family: Arial;
    background-color: rgba(190, 76, 76, 0.8);
    justify-content: center;
    padding: 30px;
}
a{
    text-decoration: none;
    background-color: rgba(93, 58, 138, 0.5);
    font-weight: bold;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.slider{
    width: 100%;
    position: relative; /*fija-relativa-etc*/
    overflow: hidden;
}
.slides{
    display: flex;
    width: 300%;
    height: 2000px;
}
.slides input{
    display: none;
}
.slide {
    width: 33.3333%;
    transition: 0.6s;
}
.slide img{
    height: 100%;
    width: 100%;
}
.navigation-manual{
    position:absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: black;
    color: white;
}
#radio1:checked~ .first{
    margin-left: 0;
}
#radio2:checked~ .first{
    margin-left: -33.3333%;
}
#radio3:checked~ .first{
    margin-left: -66.6666%;
}