*{
    font-family: arial;
    
}
h3{
    color: rgb(255, 255, 255);
    font-weight: bold;

}
.xd{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 5px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-weight: bold;
}
input{
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    background-color:  rgba(188, 182, 218, 0.4);
    font-weight: bold;
}
.but{
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 164, 60, 0.9);
    font-weight: bold;
    color: rgb(255, 255, 255);
}
body{
    background-image: url("../Multimedia/farmacia.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 50px;
    font-weight: bold;
}